[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["docker"],version = "~=2.22"}

[packages]
ansible = "~=2.8.0"

[requires]
python_version = "3.7"
