[Unit]
Description={{ updater_name }} updater

[Service]
WorkingDirectory={{ updater_dest }}
ExecStartPre=/usr/bin/git fetch --tags
ExecStart=/bin/bash -c '/usr/bin/git checkout $(/usr/bin/git describe --tags)'

[Install]
WantedBy=multi-user.target
