[Unit]
Description=Update asdf

[Service]
ExecStartPre={{ asdf_dir }}/bin/asdf update
ExecStart={{ asdf_dir }}/bin/asdf plugin-update --all
ExecStartPost=/usr/bin/notify-send -i face-cool "asdf updated"

[Install]
WantedBy=default.target
