---
- name: "{{ plugin.name }} - Install dependencies"
  apt:
    name: "{{ asdf_dependencies[plugin.name] }}"
    state: present
  become: yes
  when: asdf_dependencies[plugin.name] is defined

- name: "{{ plugin.name }} - Install plugin"
  command: "{{ asdf_dir }}/bin/asdf plugin-add {{ plugin.name }} {{ plugin_repo }}"
  args:
    creates: "{{ asdf_dir }}/plugins/{{ plugin.name }}"
  vars:
    plugin_repo: "{{ plugin.repo | default }}"

- name: "{{ plugin.name }} - Install versions"
  command: "{{ asdf_dir }}/bin/asdf install {{ plugin.name }} {{ item }}"
  args:
    creates: "{{ asdf_dir }}/installs/{{ plugin.name }}/{{ item }}"
  with_items: "{{ plugin.versions }}"
  when: plugin.versions is defined

- name: "{{ plugin.name }} - Set global version"
  lineinfile:
    path: ~/.tool-versions
    line: "{{ plugin.name }} {{ plugin.global }}"
    create: yes
  when: plugin.global is defined
