[Unit]
Description={{ item.key }} updater

[Service]
WorkingDirectory={{ item.value.dest }}
ExecStart=/bin/bash -c '/usr/bin/git checkout $(/usr/bin/git describe --tags)'

[Install]
WantedBy=multi-user.target
