{{ ansible_managed | comment }}

{% if tmux_conf_before_plugins is defined %}
{{ tmux_conf_before_plugins }}
{% endif %}

{% if tmux_plugins is defined %}
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

run -b '{{ tmux_tpm_dir }}/tpm'
{% endif %}

{% if tmux_conf_after_plugins is defined %}
{{ tmux_conf_after_plugins }}
{% endif %}
