{{ ansible_managed | comment }}

{% if tmux_prefix is defined %}
set-option -g prefix {{ tmux_prefix }}
{% endif %}

{% if tmux_base_index is defined %}
set -g base-index {{ tmux_base_index }}
setw -g pane-base-index {{ tmux_base_index }}
{% endif %}

{% if not tmux_confirmation_prompt_enabled %}
bind-key & kill-window
bind-key x kill-pane
{% endif %}

{% if tmux_plugins is defined %}
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

run -b '{{ tmux_tpm_dir }}/tpm'
{% endif %}
